@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --axpo-red: #FF5D64;
  --axpo-red-interaction: #F2354D;
  --axpo-red-light: #F89AA6;
  --axpo-red-error: #B00020;
  --axpo-red-disabled: #ECDCDD;
  --axpo-blue: #4545CF;
  --axpo-blue-medium: #A2A2E7;
  --axpo-blue-light: #DADAF5;
  --axpo-aqua: #00ECD1;
  --axpo-aqua-light: #AAF9F0;
  --axpo-gray: #3D3D3D;
  --axpo-gray-light: #D8D8D8;
  --axpo-yellow: #FFED57;
  --axpo-yellow-light: #FFEDB3;
  --solar-gray-0: #F8F8F8;
  --solar-gray-1: #EFEFEF;
  --solar-gray-2: #D6D6D6;
  --solar-gray-3: #BEBEBE;
  --solar-gray-4: #9E9E9E;
  --solar-gray-5: #7E7E7E;
  --solar-gray-6: #5D5D5D;
  --solar-gray-7: #3D3D3D;
  --solar-gray-8: #292929;
  --solar-gray-9: #1F1F1F;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 32px;
}

h1 {
  font-family: Almarena Mono;
  font-size: 52px;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-family: Almarena;
  font-size: 30px;
  line-height: 1.2;
}